[Unit]
Description=20-20-20 Eye Break Reminder

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send "202020 Break" --urgency=normal --expire-time=10000
Environment=DISPLAY=:0
