[Unit]
Description=20-20-20 Eye Break Reminder

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
#ExecStart=/bin/bash -c '/usr/bin/notify-send "$(date +"%I:%M:%S %p")" "Time to Relax" -a "Break Reminder" -i redeyes.svg --urgency=normal --expire-time=20000'
ExecStart=/bin/bash -c '/usr/bin/notify-send "$(date +"%%I:%%M:%%S %%p")" "Time to Relax" -a "Break Reminder" -i redeyes.svg --urgency=normal --expire-time=20000'
