[user]
	name = Jrchintu
	mail = bugaddr@proton.me
	email = bugaddr@proton.me
[core]
	editor = nano
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
